.eventDiv-cp{
    width: 95%;
    padding: 10px 15px;
    border-radius: 20px;
}

.rightPenTitle{
    text-align: center;
}

div.eventDiv-cp > .mainRowModal{
    justify-content: space-around;
}

.textarea{
    background-color: #c0d8caff;
}

.rightPenEvent{
    border: 2px solid #81a38dff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px;
}

.dateTimeInput{
    padding: 0 2px;
}

span.note{
    font-size: 10px;
}

.leftPenEvent{
    border: 2px solid #81a38dff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px;
}

.createBtn{
    margin: 3px 5px;
    border-radius: 20px;
}


.dateTimeRow{
    display: flex;
    margin: 3px 2px;
    justify-content: space-between;
}

.dateTimeRow > Form[class = dateTime]{
    padding: 3px;
}