.login-p{
    width: 50%;
    margin: auto;
    background-color: #dbe9e0ff;
    border: solid #81a38dff 1px;
    border-radius: 8px;
}

.login-p > h1 , p {
   text-align: center;
   margin: 10px auto;
}

.textIn{
    width: 75%;
}