.login-cp{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: auto 10px;
    /* border: solid #81a38dff 1px; */
    border-radius: 8px;
}

.loginSignup{
    display: flex;
    justify-content: space-around;
}

.login-cp > h4, p {
   text-align: center;
   margin: 10px auto;
}

.emailText{
    font-size: 10px;
}

.textIn{
    width: 75%;
    background-color: #b3efe1ff;
}

.buttonBg{
    margin: 5px 2px;
}

.signupText{
    font-size: 13px;
}

.my-btn {
    margin: 5px 7px;
    background-color: #81a38dff;
    border: 0.5px solid  #096b72ff;
    box-shadow: 1px 3px #103e42ff;
    border-radius: 5px;  
}