.cardDiv{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1.5px solid  #81a38dff;
    margin: 20px 80px;

}

.cardTitel{

    text-align: center;
    font-family: 'Style Script', cursive;
    margin: 8px 5px;
    padding: 7px;
}

.cardText > p{
   padding: 2px 10px;
   font-size: 12px;
   color: #103e42ff;
}

div.cardImg > .Img{
    margin-top: 17px;
    margin-left: 50px;
    width: 70px;
    height: 70px;
}

.cardDivAni:hover{
    border: #81a38dff 3px solid;
    background-color: #81a38dff;
    animation: getBiger forwards 5s;
}

@keyframes getBiger {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(175%);
    }

}